.container {
  
  width:60%;
  background-color: #f2f2f2;
  margin: 20px auto;
  height:100vh;
  padding-left: 0;
  padding-top: 20px;
  overflow: scroll;
  position: relative;
}

.spinner {
  transform: translate(45%,50%);
  height:100px;
}